
.block{
   
    background-color: green;
    margin: 15px;
}
.block div{
    padding: 10px;
    
}
.block-1{
    background-color: red;
    text-align: center;
    display: block;
}
.block-2{
    background-color: rgb(40, 188, 89);
    text-align: center;
    display: block;
}
.block-3{
    background-color: rgb(54, 26, 208);
    text-align: center;
    display: block;
}


.section2 div{
    padding: 15px;
    margin: 15px;
    background-color: greenyellow;
    text-align: center;
    display: inline;
}